In [ ]:
### shortcuts
* esc+m -> to convert into markdown cell
* esc+y -> to convert into coding cell
* esc+a -> to create a new cell above
* esc+b -> to create a new cell below
* esc+h -> for shortcuts
* shift+enter -> to run the cells

# largest heading
## second largest
### third largest
#### h4
##### h5
###### smallest heading

In [ ]:
* **This is bole text**
* *this is italic*
* ***this is both bold and italic***
* ~~This is strike through~~

In [ ]:
### Operators in python
* Arithmetic operators(*,-,*,/,%,//,**)
 - used to perform mathematical operations

In [2]:
a=50
b=20
print(type(a)) # to know data type of variable
print(type(b))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

<class 'int'>
<class 'int'>
70
30
1000
2.5
10
2
9536743164062500000000000000000000

*Assignment operations(=,+=,-=,*=,/=,%=,//=,**=)
 -  use to assign values to the variables

In [21]:
a=100
a+=10 # a= a+10
print(a)
a-=20
print(a)
a*=5
print(a)
a/=10
print(a)
a%=10
print(a)
a//=2
print(a)
a**=5
print(a)

110
90
450
45.0
5.0
2.0
32.0

#### Comparision operators (==,!=,>,<,>=,<=)
* used to compare two varibles

In [36]:
a=10
b=10
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

### Logical operators ( and , or, not)
* used to combine conditional statements
    - and -> returns true if both statements are true
    - or -> if any statement is true returns true
    - not -> if the statement is true it returns false and vice versa

In [24]:
a=90
b=40
print(a>b and a==b)
print(a>b and a>=b)
print(a>b or a==b)
print(a>b or a>=b)
print(not(a>b))

False
True
True
True
False

### identity operators (is, is not)
 - used to compare variables of same objects or not (memory allocation)
 - is -> Returns true if both variables are same objects
 - is not -> Returns true if both variables are not the same objects

a=10
b=10
c=5
print( a is b) #a and b share same allocation because both values are same
print( a is not b)
print(a is c)
print(a is not c)

### membership operator
 - used to test if a sequence is present or not

In [31]:
name = 'seetha'
print('s' in name)
print('y' in name)
print('y' not in name)

True
False
True

In [33]:
name= 'seetha'
print('s' in name)
print('y' in name)
print('y' not in name)

True
False
True

In [35]:
name='josya'
print('j'in name)

True

In [37]:
josya = 10
janaya = 4
print(josya==janaya)

False

In [ ]:
r=5
s=8
print(r==)