### data structures
* used to store and organize data
* List
* Tuple
* Dictionary
* Set

### List
* List is a collection of items
* List is created by using square brackets []
* List elements are seperated by commas ,
* List is mutable i.e changable

In [19]:
li=[23,32,43,12,53] # list of same type of data
print(li) # print a list
print(type(li)) # type
print(max(li)) # maximum number in the list
print(min(li))
print(sum(li))
print(len(li))

[23, 32, 43, 12, 53]
<class 'list'>
53
12
163
5

In [20]:
dl=[12,90.8,'python']
print(dl)
print(type(dl))

[12, 90.8, 'python']
<class 'list'>

In [21]:
print(sorted(li)) # sorting of list in ascending order
print(sorted(li,reverse=True)) # sorting of list in desecding order

#single `line comment
""" 
multi
line comment 
"""

[12, 23, 32, 43, 53]
[53, 43, 32, 23, 12]

' \nmulti\nline comment \n'

In [15]:
# accessing list elements

al=[90,87,65,54,23]
#   0  1  2  3  4 forward index or positive index
#  -5 -4 -3 -2 -1 backward index or -ve index

print(al[0])
print(al[2])
print(al[-1])
print(al[-3])

90
65
23
65

In [23]:
# 87+54
print(al[1]+al[3])
print(al[-4]+al[-2])

141
141

In [14]:
al

NameError: name 'al' is not defined

In [12]:
al[1:4:] #start , stop , step

[87, 65, 54]

In [13]:
al[2:5:2] # with 1 interval or alternate

[65, 23]

In [15]:
al[2::2] # till end of list with alternate

[65, 23]

In [16]:
al[::2]

[90, 65, 23]

In [16]:
# reverse a list
al[::-1]

[23, 54, 65, 87, 90]

In [17]:
# concatenation +
 
l1 = [12,23,45]
l2 = [89,76,90]
l3 = l1+l2
print(l3)

[12, 23, 45, 89, 76, 90]

In [6]:
# repetition *
l1*4

[12, 23, 45, 12, 23, 45, 12, 23, 45, 12, 23, 45]

In [10]:
print(dir(l1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [19]:
l=[12,23,34]
l.append(90)
l

[12, 23, 34, 90]

In [25]:
l=[10,20,30,40,50]
l2=[1,2,3]
l.extend(l2)
print(l)

[10, 20, 30, 40, 50, 1, 2, 3]

In [27]:
l=[90,87,65,23,45,90,76,90]
l.count(90)

3

In [28]:
l.index(87)

1

In [49]:
l=[10,20,30,40]
l.insert(2,25) #index,value
print(l)

[10, 20, 25, 30, 40]

In [36]:
l.insert(3,32) # inserts at 3 position every time
print(l)

[10, 20, 25, 32, 30, 40]

In [37]:
l.pop()
l

[10, 20, 25, 32, 30]

In [38]:
l.remove(32)
l

[10, 20, 25, 30]

In [50]:
l2=l.copy()
print(l2)
l.append(90)
print(l)
print(l2) # different memory allocation

[10, 20, 25, 30, 40]
[10, 20, 25, 30, 40, 90]
[10, 20, 25, 30, 40]

In [47]:
l2=l
print(l2)
l.append(90)
print(l)
print(l2) # same memory allocation to both l, l2

[10, 20, 25, 30, 40, 90, 90]
[10, 20, 25, 30, 40, 90, 90, 90]
[10, 20, 25, 30, 40, 90, 90, 90]

In [76]:
l=[10,20,30,40,50]
for i in l:
    print(i,end=" ")

10 20 30 40 50

In [77]:
l=[10,20,30,40,50]
for i in range(5):
    print(l[i],end=" ")

10 20 30 40 50

In [78]:
l=[10,20,30,40,50]
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

### tuple
* Tuple is a collection of object
* tuple is immutable
* tuple is created by using ()

In [60]:
t=(10,22,33,44,55)
print(t)
print(type(t))

(10, 22, 33, 44, 55)
<class 'tuple'>

In [54]:
t1=(10,22.3,'test tuple')
print(t)
print(type(t))

(10, 22.3, 'test tuple')
<class 'tuple'>

In [56]:
# accessing by using index forward index , backward index

print(t[0])
print(t[2])
print(t[-1])

10
33
55

In [61]:
t=(10,22,33,44,55)
print(max(t))
print(min(t))
print(sum(t))
print(sorted(t))
print(sorted(t,reverse=True))

55
10
164
[10, 22, 33, 44, 55]
[55, 44, 33, 22, 10]

In [64]:
t=(10,22,33,44,55)
t[1]=200 # tuple is immutable i.e not changable
print(t)

TypeError: 'tuple' object does not support item assignment

In [65]:
# reverse print
t[::-1]

(55, 44, 33, 22, 10)

In [66]:
# concatenation +
t1=(1,23,3)
t2=(2,41,4)
t1+t2

(1, 23, 3, 2, 41, 4)

In [67]:
#repetition *
t1*4

(1, 23, 3, 1, 23, 3, 1, 23, 3, 1, 23, 3)

In [68]:
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [70]:
t1.index(23)

1

In [71]:
t1=(1, 23, 3, 1, 23, 3, 1, 23, 3, 1, 23, 3)
t1.count(23)

4

## Dictiionary 
* Dictionary is a set of key and value pair or collection of items
* dictionary is created by using {}
* in dictionary key acts as a index to access the values

In [75]:
d={1:'a',2:'b',3:'c',4:'d'} #{key:value}
print(d)
print(d.keys())
print(d.values())

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
dict_keys([1, 2, 3, 4])
dict_values(['a', 'b', 'c', 'd'])

In [81]:
d={"stud1":67,"stud2":88,"stud3":89,"stud4":67,"stud5":34}
print(d.keys())
print(d.values())

dict_keys(['stud1', 'stud2', 'stud3', 'stud4', 'stud5'])
dict_values([67, 88, 89, 67, 34])

In [82]:
d["stud1"]

67

In [83]:
d[88] # error,,, with key as index we can retrive value but vice versa is error

KeyError: 88

In [84]:
for i in d:
    print(i,end=" ")

stud1 stud2 stud3 stud4 stud5

In [87]:
for i in d.keys():
    print(i,end=" ")

stud1 stud2 stud3 stud4 stud5

In [88]:
for v in d.values():
    print(v)

67
88
89
67
34

In [89]:
for k,v in d.items():
    print(k,':',v)

stud1 : 67
stud2 : 88
stud3 : 89
stud4 : 67
stud5 : 34

In [90]:
d

{'stud1': 67, 'stud2': 88, 'stud3': 89, 'stud4': 67, 'stud5': 34}

In [92]:
# changing values of a dictionary

d["stud5"]=85
d

{'stud1': 67, 'stud2': 88, 'stud3': 89, 'stud4': 67, 'stud5': 85, 'stud6': 85}

In [104]:
# adding items to a dictionary
d["step7"]=89
d

{'stud1': 67,
 'stud2': 88,
 'stud3': 89,
 'stud4': 67,
 'stud5': 85,
 'stud6': 85,
 'step7': 89}

In [94]:
# length of a dictionary
len(d)

7

In [95]:
help(d.clear)

Help on built-in function clear:

clear(...) method of builtins.dict instance
    D.clear() -> None.  Remove all items from D.

In [105]:
m=max(d.values())
print(m)
print(d)
for k,v in d.items():
    if(v==m):
        print(k,':',v)

89
{'stud1': 67, 'stud2': 88, 'stud3': 89, 'stud4': 67, 'stud5': 85, 'stud6': 85, 'step7': 89}
stud3 : 89
step7 : 89