In [1]:
d={'geetha':100,'madhu':99,'divya':98,'indhu':97,'raza':96,'bhavani':50}
d

{'geetha': 100,
 'madhu': 99,
 'divya': 98,
 'indhu': 97,
 'raza': 96,
 'bhavani': 50}

In [2]:
marks=d.values()
max=max(marks)
max

100

In [6]:
for k,v in d.items():
    if v==max :
        print(k)

geetha

In [7]:
# total marks of all the students

total = sum(marks)
print("total marks of all the students: ",total)
n=len(marks)
avg=total/n
print("average of the students is: ",avg)

total marks of all the students:  540
average of the students is:  90.0

In [8]:
d={'geetha':100,'madhu':99,'divya':98,'indhu':97,'raza':96,'bhavani':50}
d.pop('madhu')
d

{'geetha': 100, 'divya': 98, 'indhu': 97, 'raza': 96, 'bhavani': 50}

In [9]:
d={'geetha':100,'madhu':99,'divya':98,'indhu':97,'raza':96,'bhavani':50}
d.popitem()
d

{'geetha': 100, 'madhu': 99, 'divya': 98, 'indhu': 97, 'raza': 96}

In [10]:
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [12]:
d1={1:31,2:34}
d2={"str1":10,"str2":20}
d1=d2.copy()
print(d1)
print(d2)

{'str1': 10, 'str2': 20}
{'str1': 10, 'str2': 20}

In [16]:
d2.update({'str1':65}) #update({key:value})
d2

{'str1': 65, 'str2': 20}

In [19]:
d2['str1']=31
d2

{'str1': 31, 'str2': 20}

In [20]:
d2.clear() # clear the date in the dictionary , dictionary will be empty
d2

{}

In [23]:
del d2 #deletes the dictionary , dictionary will be deleted

NameError: name 'd2' is not defined

In [22]:
d2

NameError: name 'd2' is not defined

In [24]:
#membership operator 'in'

d={1:100,2:200,3:300}
print(2 in d) # key is present or not
print(5 in d)

True
False

In [26]:
d.get(3) # to get the value of a given key

300

In [27]:
d[3]

300

In [28]:
# fromkeys
x=(1,2,3)
y=(900)
d=dict.fromkeys(x,y)
d

{1: 900, 2: 900, 3: 900}

In [29]:
# fromkeys
x=[1,2,3]
y=[900]
d=dict.fromkeys(x,y)
d

{1: [900], 2: [900], 3: [900]}

In [30]:
x='set'
y='set'
d=dict.fromkeys(x,y)
d

{'s': 'set', 'e': 'set', 't': 'set'}

In [31]:
x=[1,2,3]
y=[900,121,122]
d=dict.fromkeys(x,y)
d

{1: [900, 121, 122], 2: [900, 121, 122], 3: [900, 121, 122]}

In [34]:
help(d.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [44]:
# set dafault

d={1:'a',2:'k',3:'g'}
p=d.setdefault(2)
print("default",p)
p1=d.setdefault(4)
print(p1)
p2=d.setdefault(5,'e')
print(p2)
d

default k
None
e

{1: 'a', 2: 'k', 3: 'g', 4: None, 5: 'e'}

### set:
- set is a unordered , unindexed collection of elements
    - unordered : we are not sure in which order elements will appear
    - unindexed : we can't access set elements by using index
- set elements must be unique. Set doesnot allow duplicate values

In [46]:
# creating a set
s=set() # empty set
s

set()

In [47]:
s1={23,12,'python',21}
s1

{12, 21, 23, 'python'}

In [48]:
s1[0]

TypeError: 'set' object is not subscriptable

In [49]:
s2={21,42,31,21,42,42,41}
s2

{21, 31, 41, 42}

In [51]:
print(dir(s2))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [52]:
#add()
s2.add('java')
s2

{21, 31, 41, 42, 'java'}

In [53]:
# update()

s2.update(['c','d','test'])
s2

{21, 31, 41, 42, 'c', 'd', 'java', 'test'}

In [54]:
s2.pop()
s2

{21, 31, 41, 42, 'c', 'd', 'test'}

In [55]:
s2.remove('test')
s2

{21, 31, 41, 42, 'c', 'd'}

In [61]:
# isdisjoint used to check whether both set are completely different or not

p1={2,3,1,4,5}
p2={2,4,7,8,9}
print(p1.isdisjoint(p2))
p3={9,8,6,0,7}
print(p3.isdisjoint(p1))

False
True

In [64]:
p1={1,2,3,4,5}
p2={2,1,3,4,5,6,7,8}
p1.issubset(p2)

True

In [65]:
p2.issuperset(p1)

True

In [67]:
p1={1,2,3,4,5}
p2={2,4,5,6,7,8}
p1.union(p2) # returns all values present both sets

{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
p1.intersection(p2) # returns the common elements of both sets

{2, 4, 5}

In [71]:
p1.difference(p2) # p1-p2 returns the elements only present in p1, but not in p2

{1, 3}

In [70]:
p2.difference(p1)

{6, 7, 8}

### Keywords

keyword are the reserved words which cannot be used as variable name, function name and identifiers

if, True , False , elif , else

### Function
  * function is a block of code, which is used to perform a specific task
  * functions are 2 types
  * 1: In-Built function
  * 2: user defined function

In [73]:
pow(2,3) # In-Built functions

8

In [74]:
abs(-90.8)

90.8

In [1]:
max('python')

'y'

In [2]:
max('python')

'y'

In [81]:
min('pyhton')

'h'

In [82]:
bin(10)

'0b1010'

In [83]:
max('python')

TypeError: 'int' object is not callable

* user defined functions
* functions that are defined by user is called user defined functions

* Syntax:
* def fucntionname():
    * statements

In [84]:
# write a funtion to perform addition of two numbers

def addition():
    a=int(input("enter a value: "))
    b=int(input("enter another value : "))
    c=a+b
    print("addition of 2 values is: ",c)

addition() # calling a function by using its name

enter a value: 2
enter another value : 56
addition of 2 values is:  58

In [86]:
#write a function to perform swap of two numbers

def swap():
    a=int(input("enter a value : "))
    b=int(input("enter b value : "))
    c=a
    a=b
    b=c
    print("a value is : ",a)
    print("b value is : ",b)
    
swap()

enter a value : 21
enter b value : 32
a value is :  32
b value is :  21

* Based on parameters and return type functions are divided into 4 type
    * with parameters and with return value
    * without parameters and with return value
    * with parameters and without return value
    * without parameters and without return value

In [88]:
# with parameters and with return value

def multiplication(a,b,c):
    result = a*b*c
    return result

multiplication(2,3,4)

24

In [90]:
# without parameters and with return value

def division():
    a = int(input("enter a value : "))
    b = int(input("enter b value : "))
    return a/b

division()

enter a value : 32
enter b value : 2

16.0

In [91]:
2**4 # 2 power 4

16

In [95]:
# with parameters and without return value

def square(a):
    result = a*a
    print("square of ", a ," is : ",result)
square(7)

square of  7  is :  49

In [96]:
#without parameters and without return value

def swap():
    a=int(input("enter a value : "))
    b=int(input("enter b value : "))
    print("---- before swap -----")
    print("a value is : ",a)
    print("b value is : ",b)
    c=a
    a=b
    b=c
    print("---- after swap -----")
    print("a value is : ",a)
    print("b value is : ",b)
    
swap()

enter a value : 12
enter b value : 874
---- before swap -----
a value is :  12
b value is :  874
---- after swap -----
a value is :  874
b value is :  12

In [103]:
# write a function to check whether given number is prime or not

def isPrime():
    a=int(input("enter a number"))
    if a>1 :
        for i in range(2,a):    
            if a%i==0:
                print("not a prime number")
                break
        else :
                print("a prime number")
                
isPrime()

enter a number13
a prime number

In [109]:
# write  a function to find the factorial of given number

def factorial(num):
    res=1
    for i in range(1,num+1):
        res*=i
    print(res)

factorial(6)

720